$background:red;
$font-size:1rem;
$color:green;

@mixin text-fromat{
    font-size: $font-size;
    color:#FFF;
    padding: 3rem;
    background: $background;
}
.bx{
    @include text-fromat;
    
    nav{
        ul{
            list-style: none;
            padding:0;
            margin: 0;
        }
        li {
            padding: 10px;
            margin-right: 10px;
            color: #fff;
            display: inline;


        }
        a{
            color: #FFF;
            text-decoration: none;
            padding: 10px;
            
             
           
        
        &:hover{
            background:rgb(8, 8, 1);
            border-radius: 10px;
        
        }
    }
}
   
}
.imp{
    li:nth-child(2n+1){
        color:green;
        font-size: large;
    }
}
.slide{
   background: green;
   color: #FFF;
   font-size: large;
   text-align: center;
   width: 400px;
}
.panel-body{
    background-color: red;
    color: #FFF;
    font-size: $font-size;
    text-align: center;
    display: none;
    width: 400px;
}
.btnn{
    width: 130px;
    background: blue;
    color: #fff;
    margin:30px auto;
    text-align: center;
}
.ajaxx{
    width: 400px;
    height: 300px;
    margin: 30px auto;
    background: green;
    padding: 20px;
}

$font-wights: ("regular":400, "color":red, "bold":800);
.test{
    font-weight: map-get($font-wights, "color");
}